%section#content.container
  .row
    .span12
      .hero-unit
        %h1 Custom Application Development
        %p.lead Take your concept to the next level.
      %p.lead
        If you're interested in a tailor-made, bespoke website, we'd love to make it happen. Nothing beats a custom app if you know what you want, and you don't want to make compromises. Because every project's a little different, please contact our
        %a{:href => 'mailto:sales@fadidi.com'} sales team
        for a free quote.
  %hr
  .row
    .span12
      %h2 Not sure if it's for you?
      %p
        Sometimes bespoke isn't the best fit. We'd be happy to offer you a free consultation. Contact our
        %a{:href => 'mailto:sales@fadidi.com'} sales team
        for advice.
