%section#content.container
  .row
    .span8
      .hero-unit
        %h2 E-Commerce
    .span4
      %p.lead
        %a{:href => '/portfolio#commerce'} View our work
  %hr
  .row
    .span8
      .hero-unit
        %h2 Content Management
    .span4
      %p.lead
        %a{:href => '/portfolio#cms'} View our work
