%section#content.container
  .hero-unit
    %h1 Thanks for contacting us!
    %p 
      We've passed your message on to our support/sales teams, and the appropriate people will get back to you.
    %p
      If you ever change your mind, you can cancel your inquiry by sending an email to
      %a{:href => 'support@fadidi.com'} support@fadidi.com
