%section#content.container
  .row
    .span8
      .hero-unit
        %h2 Your post, digitized.
        %p.lead Many Peace Corps posts struggle put themselves online. Maintaining a basic online presence is time-consuming. Distributing content online, editing content collaboratively, and fostering communities of learning can be a full-time job, and expensive.
      %p DigitalPost is an open-source, post-driven platform targeting just those challenges. With an out-of-the-box structure which matches the structure at your post, everything has a place. The interface is simple and intuitive, and it comes in local languages.
    .span4
      .hero-unit
        %h2 Want it hosted?
      %a.button.large.btn-block{:href => '/hostedpost'} Hosted DigitalPost SaaS
      %hr
      %a.button.large.orange.btn-block{:href => 'http://github.com/fadidi/DigitalPost.git'} Visit GitHub
      %a.button.large.green.btn-block{:href => 'https://github.com/fadidi/DigitalPost/archive/master.zip'} Download Source
  %hr
  .row
    .span12
      %h2 Upload it. Store it. Send it. Retrieve it.
      %p.lead Upload, store, and disseminate resources. DigitalPost provides dedicated interfaces for managing:
  .row
    .span3
      %ul.unstyled
        %li
          %i.icon-chevron-right
          Case Studies
        %li
          %i.icon-chevron-right
          External Links
        %li
          %i.icon-chevron-right
          Files
        %li
          %i.icon-chevron-right
          Administrative Regions
        %li
          %i.icon-chevron-right
          Public web pages
        %li
          %i.icon-chevron-right
          Photos
        %li
          %i.icon-chevron-right
          Timelines
    .span3
      %ul.unstyled
        %li
          %i.icon-chevron-right
          Staff
        %li
          %i.icon-chevron-right
          Volunteers
        %li
          %i.icon-chevron-right
          Administrative Units
        %li
          %i.icon-chevron-right
          Training Groups
        %li
          %i.icon-chevron-right
          Sectors
        %li
          %i.icon-chevron-right
          Work Zones
        %li
          %i.icon-chevron-right
          Local & International Languages
    .span6
      %h3 Never lose a thing.
      %p Connect DigitalPost to cloud storage, such as Amazon Web Service's S3, and never worry about the delete key, power surges, or errant PCVs.
  %hr
  .row
    .span12
      %h2 Find what you need, when you need it.
      %p.lead DigitalPost is designed to run with an ElasticSearch server, providing you finely-tuned search results.
      %p Stop wading through pages of documents, or returning hundreds of meaningless responses to your searches. Staff and Volunteers will be happier and more productive, having the tools they need at the tips of their fingers.
  %hr
  .row
    .span12
      %h2 Add another DigitalPost. Connect it to the rest.
      %p.lead Rinse, lather, repeat.
      %p By using a shared ElasticSearch index, allow each of your DigitalPost instances to search the rest. Stop re-inventing the wheel, and share your innovations.
  %hr
  .row
    .span12
      %h2 Build your own features.
      %p.lead Want a new feature? Hate something already there?
      %p With a code base as open as a store on black Friday, and as free as a beer at a family barbecue, feel free to hack away. Because we've built DigitalPost using the Ruby on Rails framework, and adhered to open standards, your in-house developers will find it easy to modify.
