%section.container
  .page-header
    %h1 Our Ethos
  .row#nimble
    %article.span4.project.link
      .thumbnail
        %a{:href => '/', :title => ''}
          %img{:alt => '/', :src => 'http://placehold.it/522x312'}
    .span8
      %h1
        %small staying
        nimble
        %small provides unique opportuniets
      %p 
        We're young, and we're small, so being nimble sort of comes with the territory. But no matter how large we become,
        we believe in staying fast on our feet.
  %hr
  .row#opensource
    .span12
      %h1.center
        %small using and providing
        Open Source
        %small tools is right
      %p.justify
        Yes, we mean right. Not only correct, but also right. We believe in collaboritive coding, sharing the tools we develop,
        and taking advantage of those same resources. The modern internet has given society the unprecedented ability to work
        together across all boundaries.
      %p.justify
        If the only way of securing your market share or securing your application is to lock up and hide the source, you're doing something
        wrong somewhere. Of course, we're not advocating piracy, but simply asserting that profitiblity, transparency, and sharing are not
        mutually exclusive.
  %hr
  .row#different
    .span8
      %h1.right
        %small our experience makes us
        different
        %small in a good way
      %p.justify
        We may not have taken the usual path to development, but we think that's okay. In fact, we think it's great. Those winding
        paths have led us to many an interesting place, and these experiences collectively shape our creative energies. Operating on
        a shoestring budget? We've been there. Working internationally? We've been there. Working with ancient languages? Extinct languages? Local languages?
        Yep, encountered that too.
      %p.justify
        Here's the thing: because we're interesting people interested in interesting things, we'll probably be genuinely interested in your project.
        Maybe some cash in our pocket? Sure. But odds are good that if we take the project, it's because we're intrigued by what you're doing, and that
        makes for motivated, happy development.
    %article.span4.project.link
      .thumbnail
        %a{:href => '/', :title => ''}
          %img{:alt => '/', :src => 'http://placehold.it/522x312'}
