%section#content.container
.lead-container
  .container
    #carousel.carousel.slide.macbook{:rel => 'carousel'}
      %img.carousel-macbook{:src => 'img/carousel-macbook.png'}
      .carousel-inner
        -# all items 512x322
        .item.active
          %img{:src => 'assets/carousel/pcsenegal.jpg'}
        .item
          %img{:src => 'assets/carousel/fmpcl.jpg'}
        .item
          %img{:src => 'assets/ecommerce.png'}
      %a.carousel-control.left{:href => '#carousel', 'data-slide' => 'prev'}
      %a.carousel-control.right{:href => '#carousel', 'data-slide' => 'next'}
%section.container
  %section.row
    %article.span4
      %h2
        %span.grey We're
        Nimble
      %p
        Fadidi Media prides itself on responding quickly to change, learning from cutting edge technology, and turning
        the needs of our clients into beautiful solutions.
      %p
        %a{:href => '/ethos#nimble'} Read more &raquo;
    %article.span4
      %h2
        %span.grey We're
        Open Source
      %p
        We believe in open source, and that there are superior Free and Open Source Software (FOSS) products. Sharing our
        development experience with the world is something we take seriously.
      %p
        %a{:href => '/ethos#opensource'} Read more &raquo;
    %article.span4
      %h2
        %span.grey We're
        Different
      %p
        Do programmers / developers frustrate you? Think again. Founded by a liberal arts major who served three years
        in West Africa with the
        %a{:href => 'http://peacecorps.gov'}< Peace Corps
        , Fadidi isn't your average software company.
      %p
        %a{:href => '/ethos#different'} Read more &raquo;
  %hr
  %section.row
  %section.row#portfolio
    .span4
      .row
        .span4
          %h2 CMS & E-Commerce
      .row
        %article.span4.project.link
          .thumbnail
            %a{:href => '/cms-ecommerce', :title => 'CMS & E-Commerce'}
              %img{:alt => '/', :src => 'assets/ecommerce.png'}
            .div.ribbon
              %span Available!
      .row
        .span4
          %p
            We offer a range of options for getting WordPress, Joomla, Drupal, Concrete or the content management system
            of your choice up and running quickly and affordably.
    .span4
      .row
        .span4
          %h2 DigitalPost SaaS
          .row
      .row
        %article.span4.project.link
          .thumbnail
            %a{:href => '/digitalpost', :title => 'DigitalPost SaaS'}
              %img{:alt => '/', :src => 'assets/carousel/pcsenegal.jpg'}
            .div.ribbon
              %span Available!
      .row
        .span4
          %p 
            In less than 60 minutes go from no web presence to a full-fledged content management 
            system written from the ground up for Peace Corps posts, hosted on state-of-the-art
            enterprise-grade cloud servers.
    .span4
      .row
        .span4
          %h2 Custom Applications
      .row
        %article.span4.project.link
          .thumbnail
            %a{:href => '/custom-applications', :title => 'Custom Applications'}
              %img{:alt => '/', :src => 'assets/rubyonrails.jpg'}
            .div.ribbon
              %span Available!
      .row
        .span4
          %p
            The Cadillac of services, take control of your web presence with an app tailored to your purpose.
            Whether you're fed up with off-the-shelf solutions, or have something special in mind, get in touch for a quote.
