-# Header
%header#header
  -# Navigation
  %nav.navbar
    .navbar-inner
      .container
        %a.brand{:style => 'text-align:right;', :href => '/'}
          Fadidi Media
          %br<>
          %span{:style => 'font-size: 70%'} opening doors.
        %ul.nav
          %li
            %a{:href => '/', :title => "Home"} Home
          %li
            %a{:href => '/portfolio', :title => "Portfolio"} Portfolio
          %li
            %a{:href => '/team', :title => "Our Team"} Our Team
          %li.dropdown
            %a{:href => '/products-services', :title => "Home"} Products & Services
            %ul
              %li
                %a{:href => '/digitalpost', :title => "Home"} DigitalPost SaaS
              %li
                %a{:href => '/cms-ecommerce', :title => "Home"} CMS & E-Commerce
              %li
                %a{:href => '/custom-applications', :title => "Home"} Custom Applications
          %li
            %a{:href => '/contact', :title => "Home"} Contact
