-# Header
%header#header
  -# Navigation
  %nav.navbar
    .navbar-inner
      .container
        %a.brand{:href => '/'}
          Fadidi Media
        %ul.nav
          %li.active
            %a{:href => '/', :title => "Home"} Home
          %li
            %a{:href => '/portfolio', :title => "Portfolio"} Portfolio
          %li
            %a{:href => '/pricing', :title => "Pricing"} Pricing
          %li
            %a{:href => '/team', :title => "Our Team"} Our Team
          %li
            %a{:href => '/blog', :title => "Featurs"} Blog
          %li.dropdown
            %a{:href => '/components', :title => "Home"} Features
            %ul
              %li
                %a{:href => '/', :title => "Home"} Components
              %li
                %a{:href => '/', :title => "Home"} Grid
              %li
                %a{:href => '/', :title => "Home"} Icons
              %li
                %a{:href => '/', :title => "Home"} Homepage variant #1
              %li
                %a{:href => '/', :title => "Home"} Homepage variant #2
          %li
            %a{:href => '/contact', :title => "Home"} Contact
