%section#content.container
  .hero-unit
    %h1 Thanks for signing up!
    %p 
      We've added
      %strong= params[:subscribe]
      to our mailing list. If you ever change your mind, send us an email at
      %a{:mailto => 'info@fadidi.com'} info@fadidi.com
      and we'll unsuscribe you.
