%section.container#content
  .hero-unit
    %p Take a look at some of our projects, past and present.
  %hr
  #portfolio
    %ul#portfolio-filter.nav.nav-tabs
      %li.active
        %a.filter{:href => '#', 'data-filter' => '*', 'onClick' => "$('#portfolio-items article').removeClass('span6').removeClass('span3').removeClass('span4').addClass('span6');"} All
      %li
        %a.filter{:href => '#', 'data-filter' => '.pc', 'onClick' => "$('#portfolio-items article').removeClass('span6').removeClass('span3').removeClass('span4').addClass('span6');"} Peace Corps
      %li
        %a.filter{:href => '#', 'data-filter' => '.entertainment', 'onClick' => "$('#portfolio-items article').removeClass('span6').removeClass('span3').removeClass('span4').addClass('span12');"} Entertainment
      %li
        %a.filter{:href => '#', 'data-filter' => '.commerce', 'onClick' => "$('#portfolio-items article').removeClass('span6').removeClass('span3').removeClass('span4').addClass('span12');"} E-Commerce
    %section.row#portfolio-items
      %article.span6.project{'data-tags' => 'pc'}
        .thumbnail.link
          %a{:href => '', :title => ''}
            %img{:alt => '', :src => 'http://placehold.it/458x290/444/fff'}
          .project-description
            %i.icon-th
            %b.project-name Peace Corps|Senegal
          .ribbon
            %span Complete
      %article.span6.project{'data-tags' => 'pc'}
        .thumbnail.link
          %a{:href => '', :title => ''}
            %img{:alt => '', :src => 'http://placehold.it/458x290/444/fff'}
          .project-description
            %i.icon-th
            %b.project-name Peace Corps|Africa
          .ribbon
            %span In-Devel.
      %article.span6.project{'data-tags' => 'entertainment'}
        .thumbnail.link
          %a{:href => '', :title => ''}
            %img{:alt => '', :src => 'http://placehold.it/458x290/444/fff'}
          .project-description
            %i.icon-th
            %b.project-name F*** My Peace Corps Life!
          .ribbon
            %span Complete
      %article.span6.project{'data-tags' => 'commerce'}
        .thumbnail.link
          %a{:href => '', :title => ''}
            %img{:alt => '', :src => 'http://placehold.it/458x290/444/fff'}
          .project-description
            %i.icon-th
            %b.project-name Mounce Endo, LLC
          .ribbon
            %span In-Devel.
