:erb
  <section id="content" class="container">


  <div class="hero-unit">
    <h1>Plans and pricing!</h1>
    <p>
      This is a template for a simple pricing table.
      Take a look at our pricing options.
    </p>
  </div>


  <!-- Pricing table -->
  <div class="row pricing">

    <!-- Plan -->
    <div class="plan span4">
      <h3 class="title">Basic</h3>
      <h4 class="price gradient">$5.99 / month</h4>
      <div class="well">
        <ul>
          <li><i class="icon-ok"></i> 5 users</li>
          <li><i class="icon-ok"></i> 1TB of space</li>
          <li><i class="icon-ok"></i> Limited access</li>
          <li><i class="icon-ok"></i> No phone support</li>
        </ul>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
        <hr />
        <p class="ac">
          <a class="button green" href="#">Select plan</a>
        </p>
      </div>
    </div>
    <!-- end Plan -->
    
    <!-- Most popular plan-->
    <div class="plan span4 most-popular">
      <h3 class="title">Silver</h3>
      <h4 class="price gradient">$15.99 / month</h4>
      <div class="well">
        <p class="ribbon"><span>POPULAR</span></p>
        <ul>
          <li><i class="icon-ok"></i> 20 users</li>
          <li><i class="icon-ok"></i> Unlimited access</li>
          <li><i class="icon-ok"></i> 3TB of space</li>
          <li><i class="icon-ok"></i> E-mail support</li>
        </ul>          
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
        <hr />
        <p class="ac">
          <a class="button orange" href="#"><i class="icon-ok"></i> Select plan</a>
        </p>
      </div>
    </div>
    <!-- end Plan -->

    <!-- Plan -->
    <div class="plan span4">
      <h3 class="title">Gold</h3>
      <h4 class="price gradient">$25.99 / month</h4>
      <div class="well">
        <ul>
          <li><i class="icon-ok"></i> Unlimited users</li>
          <li><i class="icon-ok"></i> Unlimited access</li>
          <li><i class="icon-ok"></i> 100TB of space</li>
          <li><i class="icon-ok"></i> Phone and e-mail support</li>
        </ul>          
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
        <hr />
        <p class="ac">
          <a class="button brown" href="#">Select plan</a>
        </p>
      </div>
    </div>
    <!-- end Plan -->

  </div>
  <!-- end Pricing table, end .row -->

  <hr />

  <p class="lead">
    <b>All plans comes with 30-day</b> money-back guarantee.
  </p>

  <hr />

  <!-- Extra words -->
  <div class="row">
    <div class="span4">
      <h2><span class="grey">There's</span> Some</h2>
       <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="" href="#">Read more &raquo;</a></p>
   </div>
    <div class="span4">
      <h2><span class="grey">There's</span> More</h2>
       <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="" href="#">Read more &raquo;</a></p>
    </div>
    <div class="span4">
      <h2><span class="grey">There's</span> Text</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="" href="#">Read more &raquo;</a></p>
    </div>
  </div>
  <!-- end Extra words -->

  </section>

