%section#content.container
  .hero-unit
    %h1 Plans and pricing
    %p 
      We offer a range of plans aimed at accomodating the needs of any post, 
      whether you're just entering online resource management, or migrating
      to our platform.
  .row.pricing
    .plan.span4
      %h3.title Humphrey
      %h4.price.gradient $99.99 / month
      .well
        %ul
          %li
            %i.icon-ok
            Domain name
          %li
            %i.icon-ok
            Unlimited users
          %li
            %i.icon-ok
            5GB file storage
          %li
            %i.icon-ok
            CDN Enabled
          %li
            %i.icon-ok
            Site-wide built-in search
          %li
            %i.icon-ok
            Call-in phone support
          %li
            %i.icon-ok
            Email support
        %p Perfect for posts interested in getting their feet wet.
        %hr
        %p.ac
          %a.button.green{:href => "#"} Select plan
    .plan.span4.most-popular
      %h3.title Kennedy
      %h4.price.gradient $169.99 / month
      .well
        %ul
          %li
            %i.icon-ok
            Domain name
          %li
            %i.icon-ok
            Unlimited users
          %li
            %i.icon-ok
            Unlimited file storage
          %li
            %i.icon-ok
            CDN Enabled
          %li
            %i.icon-ok
            Site-wide built-in search
          %li
            %i.icon-ok
            10 Subdomains
          %li
            %i.icon-ok
            10 Email addresses*
          %li
            %i.icon-ok
            Call-in phone support
          %li
            %i.icon-ok
            Email support
          %li
            %i.icon-ok
            Customized theme
          %li
            %i.icon-ok
            Themed 404 page
        %p
          The full spread for posts interested in distinctive branding and design.
          %br
          %br
          *Additional email addresses $2.49/month
        %hr
        %p.ac
          %a.button.orange{:href => "#"} Select plan
    .plan.span4
      %h3.title Shriver
      %h4.price.gradient $129.99 / month
      .well
        -#%p.ribbon
          %span popular
        %ul
          %li
            %i.icon-ok
            Domain name
          %li
            %i.icon-ok
            Unlimited users
          %li
            %i.icon-ok
            10GB file storage
          %li
            %i.icon-ok
            CDN Enabled
          %li
            %i.icon-ok
            Site-wide built-in search
          %li
            %i.icon-ok
            5 Subdomains
          %li
            %i.icon-ok
            3 Email addresses*
          %li
            %i.icon-ok
            Call-in phone support
          %li
            %i.icon-ok
            Email support
          %li
            %i.icon-ok
            Customized color design
        %p
          *Additional email addresses $4.49/month
        %hr
        %p.ac
          %a.button.brown{:href => "#"} Select plan
  %hr
  %p.lead
    All plans come with a
    %b personal tour of the app
    followed by a
    %b 30-day free trial
    before you commit.
  %hr
  .row
    .span4
      %h2
        %span.grey Join the
        Cloud
      %p We host apps on Amazon EC2 cloud servers, ready and willing to tackle the toughest traffic.
      %p Your data is stored in S3 cloud storage, with 99.999999999% data durability. Once it's there, you can sleep easily knowing you won't lose it.
    .span4
      %h2
        %span.grey Feel the
        Speed
      %p By serving your static content (e.g., files & photos) over the CloudFront Content Delivery Network, your heavy data will be piped to PCVs in the field from the closest edge location. In West Africa? Grab it from Paris or Madrid! In Southeast Asia? Get it from Singapore or Tokyo!
    .span4
      %h2
        %span.grey Enjoy
        Human Support
      %p We're not a big corporation, and we won't put you on hold. Deal with a real person, and deal with an RPCV.
      %p Fadidi Media wrote the app, wrote the instruction manual, and we did both expressly to meet your needs.
