%section.container
  .row
    %article.span4.project.link
      .thumbnail
        %a{:href => '/', :title => 'DigitalPost SaaS'}
          %img{:alt => '/', :src => 'assets/carousel/pcsenegal.jpg'}
    .span8
      %h1
        DigitalPost
        %small software as a service for Peace Corps posts.
      %p 
        We know that if you're a Peace Corps post you've got reasons to be wary of taking the plunge,
        but managed Fadidi Media DigitalPost platforms will be pain-free. Take a look at our various 
        plans, and see what you could gain. Today.
      %p
        %a{:href => ''} Read more &raquo;
  %hr
  .row
    %article.span4.project.link
      .thumbnail
        %a{:href => '/', :title => ''}
          %img{:alt => '/', :src => 'http://placehold.it/522x312'}
    .span8
      %h1
        Ruby Development
        %small put that jewel shine online.
      %p 
        Ruby, in its many implementations, has taken the web by storm. We specialize in Ruby on Rails
        application development. Whether you need something extra-special, or a managed installation
        of just the right Ruby app, we've got you covered.
      %p
        %a{:href => ''} Read more &raquo;
  %hr
  .row
    %article.span4.project.link
      .thumbnail
        %a{:href => '/', :title => ''}
          %img{:alt => '/', :src => 'http://placehold.it/522x312'}
    .span8
      %h1
        E-Commerce
        %small sell your products, not your house.
      %p 
        Creating an online business can be expensive, but you shouldn't have to sell your house. We'll
        work with you to find the correct solution to your scenario, and get it implemented. All at 
        a reasonable rate.
      %p
        %a{:href => ''} Read more &raquo;
  %hr  
  .row
    %article.span4.project.link
      .thumbnail
        %a{:href => '/', :title => ''}
          %img{:alt => '/', :src => 'http://placehold.it/522x312'}
    .span8
      %h1
        Content Management
        %small store it once. access it forever.
      %p 
        Diamonds aren't the only thing that should be forever. So should your data accessibility. By
        setting up a professional content management system (CMS), retain access to your data, share it
        with the people who need it, and rest easy knowing it'll be there tomorrow.
      %p
        %a{:href => ''} Read more &raquo;
  %hr
  .row
    %article.span4.project.link
      .thumbnail
        %a{:href => '/', :title => ''}
          %img{:alt => '/', :src => 'http://placehold.it/522x312'}
    .span8
      %h1
        Starter Sites
        %small take control of your online presence.
      %p 
        We recommend WordPress for the entry-level webmaster. Let us set up a custom install, including
        a theme and unique branding. When it's all set, we hand you the keys. No ongoing costs, easy
        to maintain, and universally accessible.
      %p
        %a{:href => ''} Read more &raquo;
