:plain
  You have successfully subscribed to Fadidi Digital Media's mailing list. If this was a mistake, please contact info@fadidi.com.

  Visit www.fadidi.com for more information. If you're interested in our DigitalPost Peace Corps Post platform, details and documentation can be found at www.pcdigitalpost.com.

  For sales inquiries, bids, or pricing details, contact the Fadidi sales team at sales@fadidi.com.

  We'll keep you posted of any major news here, but we promise not to bother you...

  See you around,

  Fadidi

  ---
  Fadidi Digital Media
  opening doors.

  info@fadidi.com
  sales@fadidi.com
  support@fadidi.com

  www.fadidi.com
  www.pcdigitalpost.com
