%section#content.container
  .hero-unit
    %p Our team
    %hr
  %section#team-members
    %article.member
      %h3.member-name John (Jack) Brown
      %h4.member-position Founder & Lead Developer
      %p.member-networks
        %a.icon-twitter{:href => 'http://twitter.com/brownjohnf'}
        -#%a.icon-phone{:href => '#'}
        %a.icon-envelope{:mailto => 'jack@fadidi.com'}
      %p.member-bio
        Jack's been playing with computers for a long time now, after getting his start in PC Repair class back in the day.
        After his first big foray into web development in high school with the very successful though now defunct 
        Three-Seas Online Community & Forum, he was hooked. Not wanting to be the narrow type, he matriculated into the great books school
        St. John's College, Annapolis, where he earned a Bachelor of Arts degree roughly equivalent to 'two substantial majors,
        one in History of Mathematics and Science, the other in Philosophy, including metaphysics, ethics, and political theory' 
        and minors in 'Classical Studies and Comparative Literature.'
      %p.member-bio
        Armed with lots of archaic knowledge and paralyzed by philosophical indecision, Jack left the States for a stint teaching 
        English Lit and Philosophy at Brummana High School in a village outside Beirut, Lebanon. After enjoying a magical time living 
        in Lebanon, and a traumatic time trapped in a classroom with hormonal teenagers, he joined the Peace Corps for some reason 
        (probably because he'd always wanted to), where he found himself an Agroforestry Extension Agent in a village of 800 people in rural
        Senegal, West Africa. While in his hut, his brain running around his head like a mouse on a wheel, he developed a prototype for
        an online dictionary which, long story short, resulted in his extending a third year and developing what is now the open source
        %a{:href => 'http://www.pcdigitalpost.com'} DigitalPost
        application.
      %p.member-bio
        Now finished with his service, armed with his international experiences, he's founded Fadidi Digital Media on the principles that it's
        not enough to write beautiful, concise code.
      .member-avatar
        %img{:alt => '', :src => 'assets/headshot-brown_john.jpg'}
